@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --font-archivo: "Archivo", sans-serif;
  --font-inter: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5px; /* Scrollbar width */
  height: 0.5px; /* Scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f0f0f000; /* Scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #88888800; /* Scrollbar thumb */
  border-radius: 6px; /* Border radius */
}

::-webkit-scrollbar-thumb:hover {
  background: #55555500; /* Hover effect */
}

::-webkit-scrollbar-button {
  background: #cccccc00; /* Default background color for the arrow buttons */
  border-radius: 4px; /* Rounded corners */
  height: 8px; /* Height of the arrow buttons */
  width: 8px; /* Width of the arrow buttons */
}

::-webkit-scrollbar-button:hover {
  background: #888; /* Change background color on hover */
}

/* Downward-pointing arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%); /* Triangle pointing down */
}

/* Right-pointing arrow (for horizontal scrollbars) */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%); /* Triangle pointing right */
}

/* Left-pointing arrow (for horizontal scrollbars) */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%); /* Triangle pointing left */
}

body {
  overflow-x: hidden;
}
